<div *ngIf="advertisements">
    <div *ngIf="advertisements.length == 0">
        <p>Список пуст</p>            
    </div>
    <div *ngFor="let advertisement of advertisements">
        <advertisement-panel [id]="advertisement.business.id" [shortName]="advertisement.business.shortName"
            [userName]="advertisement.user.fio" [price]="advertisement.business.cost" [inn]="advertisement.business.inn"
            [okopfName]="advertisement.business.okopfDict.name" [date]="advertisement.placeDate"
            [likes]="advertisement.likes" [dislikes]="advertisement.dislikes">
        </advertisement-panel>
    </div>
</div>