<div>
    <div>
        <div>
            <h1 style="text-align: left;">Бизнес-Вита</h1>

            <h4 style="text-align: left;">
                <a routerLink="/advertisements">Список объявлений</a>
            </h4>

            <div *ngIf="userRole">                
                <h4 style="text-align: midle;">
                    <div *ngIf="userRole.includes('Пользователь')">
                        <a routerLink="/user/advertisements">Мои объявления</a>
                    </div>

                    <div *ngIf="userRole.includes('Эксперт')">
                        <a routerLink="/expert/advertisements">Ожидают проверки</a>
                    </div>

                    <div *ngIf="userRole.includes('Модератор')">
                        <a routerLink="/admin/advertisements">Ожидают публикации</a>
                    </div>
                </h4>
            </div>
            <h4 style="text-align: right;"><a href="/" (click)="logout()">Logout</a></h4>
        </div>
    </div>
</div>