<mat-grid-list cols=3 rowHeight="70px" >
    <mat-grid-tile>
        <a routerLink="/user/read/business/{{id}}">{{shortName}}</a>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        Дата размещения: {{date | date:'dd.MM.y'}}
    </mat-grid-tile>
    
    <mat-grid-tile>
        <p>Продавец: {{userName}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>ИНН: {{inn}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <button routerLink="/user/edit/business/{{id}}">Изменить объявление</button>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <button (click)="onKill()">Закрыть объявление</button>
    </mat-grid-tile>

    <mat-grid-tile>
        <p>Цена: {{price}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Организационно-правовая форма:
        {{okopfName}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        Рейтинг объявления: {{score}}
    </mat-grid-tile>
</mat-grid-list>