<mat-grid-list cols=3 rowHeight="70px" >
    <mat-grid-tile>
        <a class="name" routerLink="/user/read/business/{{id}}">{{shortName}}</a>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <p>Дата размещения: {{date | date:'dd.MM.y'}}</p>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile>
        <p>Продавец: {{userName}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>ИНН: {{inn}}</p>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile>
        <p>Цена: {{price}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Организационно-правовая форма:
        {{okopfName}}</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <button (click)=addLikes()>Like: {{likes}}</button>
            <button (click)=addDislikes()>Dislikes: {{dislikes}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>